//
// General Variables
//

$global-border: #313131;
$global-primary-border: #f0a741;

// login

$global-primary-login: #f0a741;

//
// Typography
//

$global-color: #313131;
$global-link-color: #d77f11;
$global-link-hover-color: #f77114;
$base-body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$text-success: #313131;

//
// Buttons, Navs & Badges
//

$global-primary-background: #f0a741;
$global-success-background: #d77f11;
$global-warning-background: #f77114;
$global-danger-background: #7c380a;
$light-black :#4a4b4c;
$base-link-color:#d77f11;

//
// Alert
//

$alert-background: #e4e4e4;
$alert-color: #f7db14;
$alert-danger-color: #7c380a;
$alert-danger-background: rgba(124, 56, 10, 0.52);
$alert-warning-color: #e28327;
$alert-warning-background: rgba(226, 131, 39, 0.49);
$alert-success-color: #f0a741;
$alert-success-background: rgba(240, 167, 65, 0.54);

//
// Base
//

$base-code-color: #7c380a;
$base-selection-background: #f7db14;

//
// Button
//

$button-danger-active-background: #d7aa11;
$button-danger-hover-background: #d7aa11;
$button-success-active-background: #7c380a;
$button-success-hover-background: #7c380a;
$button-primary-active-background: #d77f11;
$button-primary-hover-background: #d77f11;

//
// Form
//

$form-success-color: #d77f11;
$form-success-background: rgba(215, 127, 17, 0.67);
$form-success-border: #f0a741;
$form-danger-color: #7c380a;
$form-danger-background: rgba(124, 56, 10, 0.57);
$form-danger-border: #f0a741;
$form-focus-background: rgba(215, 170, 17, 0.44);
$form-focus-border: #d7aa11;

//
// Panel
//

$panel-box-primary-color: #313131;
$panel-box-primary-title-color: #ffffff;

//
// Text
//

$text-primary-color: #313131;
$text-success-color: #f0a741;
$text-warning-color: #d77f11;
$text-danger-color: #7c380a;
